<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">
<section>
  <h1 class="mb-3">Espace étudiant</h1>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title" th:text="${student.firstName + ' ' + student.lastName}">Nom</h5>
      <p class="mb-0"><b>Email:</b> <span th:text="${student.email}">x</span></p>
      <p><b>Classe:</b> <span th:text="${student.classroom}">x</span></p>

      <a class="btn btn-primary" th:href="${bulletinUrl}">Voir mon bulletin</a>
      <a class="btn btn-outline-primary" th:href="${pdfUrl}" target="_blank">PDF</a>
    </div>
  </div>
</section>
</html>