<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="layout/base :: layout(~{::section})">
  <section>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="m-0">Étudiants</h1>

  <div th:if="${createdAccountMsg}" class="alert alert-success" th:text="${createdAccountMsg}"></div>
      <a class="btn btn-success" th:href="@{/admin/students/new}">+ Nouveau</a>
    </div>

    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th>ID</th><th>Prénom</th><th>Nom</th><th>Email</th><th>Classe</th><th class="text-end">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="s : ${students}">
        <td th:text="${s.id}">1</td>
        <td th:text="${s.firstName}">Ana</td>
        <td th:text="${s.lastName}">Paul</td>
        <td th:text="${s.email}">a@b.com</td>
        <td th:text="${s.classroom}">L1</td>
        <td class="text-end">
          <a class="btn btn-sm btn-info" th:href="@{|/admin/students/${s.id}/bulletin|}">Bulletin</a>
          <a class="btn btn-sm btn-secondary" th:href="@{|/admin/students/${s.id}/bulletin/pdf|}" target="_blank">PDF</a>
          <a class="btn btn-sm btn-primary" th:href="@{|/admin/students/${s.id}/edit|}">Modifier</a>
          <form th:action="@{|/admin/students/${s.id}/delete|}" method="post" class="d-inline">
            <button class="btn btn-sm btn-danger" onclick="return confirm('Supprimer?')">Supprimer</button>
          </form>
        </td>
      </tr>
      <tr th:if="${#lists.isEmpty(students)}">
        <td colspan="6" class="text-center text-muted">Aucun étudiant</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
</body>
</html>
